*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul-escuro:#003366;
    --azul-claro:#139bbe;
    --laranja: #de9800;
    --borda-principal:#dddddd;
    --cinza:#cccccc;
    --vermelho: #c91b04;
    --titulos:#999999;
    --times:#666666;
    --legendas:#8f8f8f;
    --siglas: #555555;
    --fundo-tabela:#f7f7f7;

    --posicao:18px;
    --titulos:13px;
    --nomes-times:14px;
    --pontos:14px;
    --colunas:14px;
    --sigla-legenda:10px;
}

.posicao{
    font-size: var(--posicao);
}
td:nth-child(2){
    font-size: var(--nomes-times);
}
td:nth-child(n+3){
    font-size:14px;
}


table{
    color: var(--times);
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}


th{
    color: var(--titulos);
}

table, td, tr {
    border: 1px solid var(--borda-principal);
    border-collapse: collapse;
}
.libertadores{
    color: var(--azul-escuro);
}
.pre-libertadores{
    color: var(--azul-claro);
}

.sulamericana{
   color: var(--laranja);
}

.nao-classificados{
    color: var(--cinza);
}
.rebaixados{
    color: var(--vermelho);
}

td:nth-child(-n+3){ 
    font-weight: 700;
    background-color: white !important;
}

td:nth-child(2n+3){
    background-color: var(--fundo-tabela);
}

.quadrado{
    width: 8px;
    height:8px;
    border-radius: 2px;
    margin:0 5px;

}

.legenda{
    display: flex;
}


#liberta{
    background-color: var(--azul-escuro);
 }

#pre-liberta{
    background-color: var(--azul-claro);
}

#sula{
    background-color: var(--laranja);
}

#rebaixados{
    background-color: var(--vermelho);
}

article{
    display: flex;
}

.legenda > p {
   font-size: var(--sigla-legenda);
}