

body {
    width: 80%;
    margin: 20px auto;
    color: #000000;
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    align-items:right;
    list-style-type: none;
    column-gap: 48px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

img{

}


.center{
    
}



h2{
    color: #ffffff(240, 240, 243);
    background-color: #000000;
    width: 50%;
}

h1{
    color:#ffffff(243, 243, 243);
    background-color: #000000;
    width: 50%;
}

h6{
    color:#ffffff;

}

footer{
    width: 100%;
    color: rgb(253, 249, 249);
    background-color: #000000;


}

.map{
    color: #000000;
    background-color:#e0d5d5;


    
}