body {
    color: rgb(5, 5, 5);
    background-color: rgb(202, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

img{

}

.center{
    
}

h1 {
    color: black;
    font-size: 10pt;
}

h2{
    
}

footer{
    width: 50%;
    color: rgb(235, 234, 234);
    background-color: black;
    text-align: 
}

footer2{ 
    width: 50%;
    color: rgb(235, 234, 234);
    background-color: rgb(180, 3, 3);
    text-align: 
}
