body {
    color: rgb(5, 5, 5);
    background-color: rgb(202, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    align-items:right;
    list-style-type: none;
    column-gap: 48px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

img{
    
}

.center{
    
}

h1 {
    color: black;
    font-size: 10pt;
}

h2{
    
}

footer{
    width: 50%;
    color: rgb(235, 234, 234);
    background-color: black;
    text-align: left

}