@font-face{
    font-family: 'god';
     src: url(/HtmlCssAulas/MaterialDeAula/fonts/GODOFWAR.TTF);
}

*{
    width: 80%;
    margin: 19px auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #ad7b10;
    
    
}

h1{
    text-align: center;
    color: rgb(253, 249, 8);
    text-shadow: 5px 5px 5px rgb(8, 30, 230);
    font-family: acai;
    letter-spacing: 15px;
    font-size: 35px;
}

footer{

    width: 100%;
    padding: 50px 0px;
    color: rgb(204, 199, 195);
    background-color: rgb(8, 24, 27);
    
    
    }

    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgb(17, 21, 73);
    
    
    }