
*{
    width: 80%;
    margin: 19px auto;
    background-color: #6c0286;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #000000;
    
}

h1{
    text-align: center;
    color: rgb(17, 19, 10);
    text-shadow: 5px 5px 5px rgb(197, 230, 8);
    
}



    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgb(197, 230, 8);
    
    
    }