@font-face{
    font-family: 'acai';
     src: url(/HtmlCssAulas/MaterialDeAula/fonts/Barbiel.ttf);
}

*{
    width: 83%;
    margin: 19px auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #000000;
   
   

    
}

h1{
    text-align: center;
    color: rgb(80, 20, 136);
    text-shadow: 5px 5px 5px rgb(234, 240, 233);
    font-family: acai;
    letter-spacing: 15px;
    font-size: 100px;
    
}



    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgb(197, 230, 8);
        font-size: 22px;
    
    
    }