*{
    width: 80%;
    margin: 19px auto;
    background-color: #d11bc2;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #000000;
    
}

h1{
    text-align: center;
    color: rgb(163, 71, 156);
    text-shadow: 5px 5px 5px rgb(8, 8, 6);
    
}



    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgb(18, 19, 14);
    
    
    }

img{
    height: 400px;
    width: 600px;
   
}