@font-face{
    font-family: 'barbie';
     src: url(/HtmlCssAulas/MaterialDeAula/fonts/Barbiel.ttf);
}



h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(8, 8, 6);
    font-family: barbie;
    letter-spacing: 10px;
    font-size: 140px;
    text-shadow: 5px 5px 5px rgb(194, 79, 218);
    
}



    .conteudo  .pagina nav {
        width: auto;
        height: 200px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 40px;
        background-color: black;
    
    }

.conteudo .pagina img{
    height: 700px;
    width: 800px;
    text-align: center;
    margin: auto;
    align-self: flex-end;
    display: flex;
  justify-content: center;
  align-items: center;
   
}

body{
    width: auto;
    height: 200px;
    border-radius: 25px;
    background-image:
    linear-gradient(-0.25turn,#ac4bbf 50%, #555555 50%);
}
