*{
    width: 80%;
    margin: 19px auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #000000;
    
}

h1{
    text-align: center;
    color: rgb(17, 19, 10);
    text-shadow: 5px 5px 5px #09420c;
    font-size: 100px;
    
}



    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color:#0e310f;
        font-size: 22px;
    
    
    }

    img{
        height: 500px;
       
    }