*{
    width: 80%;
    margin: 20px auto;
    background-color: #b48805;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: rgb(35, 216, 18);
    
}

h1{
    text-align: center;
    color: rgb(219, 215, 219);
    text-shadow: 5px 5px 5px rgb(8, 97, 230);
    
}