*{
    width: 80%;
    margin: 19px auto;
    background-color: #0a350a;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(60, 173, 37);
    
}



    nav{
        width: auto;
        height: 100px;
        text-align: center;
        background-color: rgb(50, 138, 28);
    
    
    }

    main{
        width: 70%;
        height: auto;
        padding: 60px;
        margin: 10px auto;
        background-color: rgb(50, 138, 28);
        border-radius: 20px;
    
    
    }