/*geral*/

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



  @font-face {
      font-family: 'Halloween Spooky';
      src: url(/HtmlCssAulas/aula14\ responsividade\ e\ revisao/font/banner.png);
}

.backgroundImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Halloween Spooky';
    color: var(--titulos);
}

h1{
    font-size: 35pt;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --cor-fundo : rgb(240, 235, 215);
    --cor-primaria : black;
    --links : rgb(180, 131, 39);
    --titulos : rgb(180, 131, 39);
}

header,footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--cor-primaria);
 }

 .imagem{
     width: 100%;
 }


#page{
    width: 100%;
    background-color: var(--cor-fundo);
}

a{
    text-decoration: none;
    color : var(--links)
}


/*header*/

nav ul{
    display: flex;
    gap: 20px;
    font-weight: bold;
    list-style: none;

}


#logo{
    width: 200px;
}

#menuIcon{
    cursor: pointer;
    display: none;
}

#menuMobile{
    display: none;
}


/*main*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#banner{
    width: 90%;
    height: 400px;
    margin: 20px 0px;
    background-image: url(/HtmlCssAulas/aula14\ responsividade\ e\ revisao/);

}

#sobreSection{
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: white;
}

/*media*/
@media screen  and (max-width : 768px){
    #banner{
        width: 100%;
        height: 200px;
    }
}


